@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

a {
  font-weight: 600;
  text-decoration: none;
  color: #5596ff;
}
a:hover {
  text-decoration: underline;
  color: #3482ff;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
  width: 300px;
  padding: 1rem;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
}
li {
  cursor: pointer;
  text-align: center;
  background: #eefbfb;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin: .25rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}
li h1, li img {
  transition: transform .6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
li:hover {
  background: #c7efef;
}
li:hover img {
  transform: scale(1.25);
}
li:hover h1 {
  transform: scale(2);
}
li[data-action].active {
  animation: wobble 1s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
  /* pointer-events: none; */
  opacity: .69;
}
li[data-assistant] {
  width: 55px;
}
li[data-assistant].active {
  background: #6fff95;
}
li[data-assistant].active::after {
  content: '\2714';
  position: absolute;
  right: -10px;
  top: 0;
  background: #0b912e;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 800;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
li[data-assistant].active:hover {
  /* background: #ff6f6f; */
  background: rgb(255, 222, 133);
}
li[data-assistant].active:hover::after {
  content: '\2715';
  /* background: #ca1717; */
  background: #ffa825;
}
li[data-assistant="new"] {
  background: #fff;
  padding: .25rem .75rem;
  border: .125rem dashed #eefbfb;
}
li[data-assistant="new"]:hover {
  background: #eefbfb;
  border-color: #c7efef;
}
li[data-request="delete"] {
  background: #ff3030;
  color: #fff;
}
li[data-request="delete"]:hover {
  background: #ff4949;
}
li[data-request="operation"] {
  background: #fce040;
  color: #000;
}
li[data-request="operation"]:hover {
  background: #ffe449;
}
li img {
  transform-origin: bottom;
  margin: .25rem 0;
  height: 32px;
}
li h1 {
  margin: .25rem 0;
  line-height: 32px;
  color: #31aaaa;
}
li * {
  pointer-events: none;
}
label {
  margin-right: .5rem;
  font-weight: 600;
}
input {
  border-radius: 1rem;
  padding: .5rem 1rem;
  border: 0;
  background: #fbeeee;
}
input[type="number"] {
  text-align: center;
}
input[name="scale"] {
  margin-right: 20px;
}
.assistant {
  padding-bottom: 8px;
}
.btn-import {
  padding-left: 1rem;
}
.tool {
  padding-top: 8px;
  display: none;
}
.more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more label {
  display: flex;
  align-items: center;
}
.spinner {
  background: #fff;
  transition: opacity .4s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
body.loading .spinner {
  pointer-events: auto;
  opacity: 1;
}
@keyframes wobble {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
#file-import {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
input[type="checkbox"] + label:before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #fbeeee;
  border-radius: 50%;
}
input[type="checkbox"]:hover + label:before {
  background: #ffcebe;
}
input[type="checkbox"]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
input[type="checkbox"]:checked + label:before {
  background: #f35429;
}
input[type="checkbox"]:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
input[type="checkbox"]:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}