body {
  background: #f6fffa !important;
}
.btn {
  font-weight: 600;
  border-radius: 2rem;
  background: #09c64c;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0px 1px 5px -2px rgba(0,0,0,.3);
  transition: all .4s;
  border: 0;
  user-select: none;
}
.btn.btn-sm {
  padding: .25rem .75rem;
}
.btn:hover {
  background: #22e266;
}
.btn.btn-success {
  background: #09c64c;
}
.btn.btn-success:hover {
  background: #22e266;
}
.btn.btn-primary {
  background: #1683dc;
}
.btn.btn-primary:hover {
  background: #30a0ec;
}
.btn.btn-cyan {
  background: #09c6b4;
}
.btn.btn-cyan:hover {
  background: #1cdece;
}
.btn.btn-white {
  background: #fff;
  color: #aaa;
}
.btn.btn-white:hover {
  background: rgb(245, 245, 245);
}
.btn[data-active="true"] {
  background: #44fa84;
  padding-left: 2rem;
  position: relative;
}
.btn[data-active="true"]::before {
  content: '\2714';
  position: absolute;
  color: #fff;
  left: 14px;
}
.btn[data-active="true"]:hover {
  background: orange;
}
.btn[data-active="true"]:hover::before {
  content: '\2715';
}
.no-shadow {
  box-shadow: none !important;
}
.text-success {
  color: #09c64c !important;
}
.text-danger {
  color: #ff3030 !important;
}
.text-muted {
  color: #aaa !important;
}
/* #container {
  display: flex;
  height: 100vh;
} */
#main {
  padding: 0 0 0 1rem;
  flex-grow: 1;
}
/* #panel {
  width: 0;
  font-size: 0;
  pointer-events: none;
  background: #fff;
  transition: width .4s ease-out;
} */
#panel.show {
  pointer-events: auto;
  width: 250px;
  font-size: inherit;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
#content {
  position: relative;
}
#content .spinner {
  position: absolute;
  left: 0;
  top: 0;
  right: 1rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}
#content.loading .spinner {
  opacity: 1;
}
#div-publish-type {
  display: none;
}
#form-publish {
  padding: 0 1rem;
}
#form-search {
  flex-grow: 1;
  margin: 0 2rem;
  text-align: center;
}
#search {
  width: 100%;
  max-width: 450px;
  margin: 0 1rem;
}
#list {
  list-style: none;
  padding-left: 0;
  /* column-count: 2; */
  display: flex;
  flex-wrap: wrap;
}
#list li {
  padding: 1rem;
  background: #fff;
  box-shadow: 1px 2px 15px -10px rgba(0,0,0,.3);
  border-radius: 1rem;
  margin: 0 1rem 1rem 0;
  /* break-inside: avoid-column; */
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.33% - 2rem);
  /* flex-basis: calc(50% - 1rem); */
  /* flex-basis: 100%; */
  box-sizing: border-box;
}
#list li .content {
  display: flex;
  align-items: flex-start;
}
#list li .info {
  flex-grow: 1;
  padding: 0 1rem;
}
#list li .footer {
  padding: .75rem .5rem 0 5rem;
  display: flex;
  align-items: center;
  margin-top: auto;
}
#list li .footer {
  display: none !important; /* coming soon */
}
#list li .footer .btn {
  line-height: normal;
}
#list li .footer .btn-report {
  margin-left: auto;
  font-weight: 400;
  font-size: 10px;
  opacity: .5;
}
#list li .footer .btn-report:hover {
  opacity: 1;
}
#list li .footer .btn-comments {
  background: #fff;
  border: 1px solid #09c6b4;
  color: #02b3a1;
  margin-right: .5rem;
}
#list li .footer .btn-comments:hover {
  background: #f6fffa;
}
#list li .footer .btn-vote {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
}
#list li .footer big {
  margin: 0 .25rem;
}
#list li .action {
  text-align: right;
  white-space: nowrap;
}
#list li .action a.btn {
  line-height: 40px;
}
#list li h3 {
  margin: 0;
}
#list li .btn-demo {
  margin-left: .25rem;
}
#list li .btn-demo.active {
  opacity: .69;
}
#list li .btn-download {
  display: block;
  margin: .25rem .5rem 0 0;
}
#list li p {
  margin: .25rem 0 0 0;
  max-height: 3rem;
  overflow-y: hidden;
}
#list li img {
  width: 4rem;
  min-width: 4rem;
  height: auto;
}

@media (max-width: 1199px) {
  #list li {
    flex-basis: calc(50% - 1rem);
  }
}
@media (max-width: 991px) {
  #list li {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  #header {
    flex-wrap: wrap;
  }
  #header h1 {
    flex-basis: 50%;
  }
  #search {
    order: 3;
    max-width: none;
    margin: 0;
  }
}
@media (max-width: 575px) {
  #list li .action a.btn {
    display: block;
    line-height: normal;
    margin-bottom: .5rem;
  }
  #header h1 {
    flex-basis: auto;
  }
}