#elon {
  position: relative;
  width: 22.5vmax;
  height: 8.25vmax;
}

/* Facing Styles */
#elon[data-facing="left"] {
  transform: rotateY(0deg);
}
#elon[data-facing="right"] {
  transform: rotateY(180deg);
}

/* Activity Styles */
/*
#elon[data-activity="walk"] {
}
#elon[data-activity="dance"] {
}
#elon[data-activity="pee"] {
}
#elon[data-activity="poop"] {
}
*/